body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}

.chat-container {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

#joinRoom, #chatRoom {
  padding: 20px;
}

.room-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.chat-box {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.message {
  margin: 10px 0;
}

.message-time {
  color: #888;
  font-size: 0.8em;
}

.message-user {
  font-weight: bold;
  color: #333;
}

.message-text {
  margin-left: 5px;
}

.message-input {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
}

.message-input input {
  flex: 1;
  padding: 8px;
}

.message-input button {
  padding: 8px;
  margin-left: 5px;
  cursor: pointer;
}
/*  message */
.messageTag{
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: lightblue;
}
.container{
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
.time{
  opacity: 0.7;
}
.message{
  margin: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}